.navbar-custom {
  background-color: #000000;
  height: 100%;
  z-index: 100;
}

.nav-link {
  color: #ffffff;
  opacity: 0.6;
  transition: color 0.3s;
}

.nav-link.active-link {
  color: #0057FF;
  opacity: 1;
  font-weight: bold;
}

.navbar-toggler:focus{
  outline: none !important;
  box-shadow: none !important;
}

.container-md, .container-sm, .container {
  max-width: 100% !important; 
}

.navbar-brand, .navbar-toggler{
  margin-left: 10px;
  margin-right: 10px;
  border: 0px !important;
}

.nav-link{
  margin-left: 10px;
}